.dashboard{
    background-color: #161C24;
    width: 100%;
    height: 100%;
    /*padding-left: 30px;*/
}

.dashboard h1{
    display: flex;
    width: 100%;
    background-color: #212B36;
    color: white;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.drag-and-drop{
    padding: 0px 30px;
}